wget
langchain-community
transformers
torch
torchvision
torchaudio
langchain-chroma
sentence-transformers
langserve
pypdf
rapidocr-onnxruntime
langchain-huggingface
sse-starlette
pymongo[srv]
motor
underthesea
pydantic[email]
python-multipart
langchain-groq
pandas
# meta_ai incompatible, require python [3.6, 3.10]